[Unit]
Description=Gost global proxy

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/gost_proxy.sh start
ExecStop=/usr/bin/gost_proxy.sh stop

[Install]
WantedBy=multi-user.target